<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">123456</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/db_seminar10</property>
        <property name="show_sql">true</property>

        <mapping class="ru.mipt.java2017.seminars.seminar10.model.Customer"/>
        <mapping class="ru.mipt.java2017.seminars.seminar10.model.Good"/>
        <mapping class="ru.mipt.java2017.seminars.seminar10.model.CustomerOrder"/>
        <mapping class="ru.mipt.java2017.seminars.seminar10.model.OrderItem"/>
    </session-factory>
</hibernate-configuration>